.box {
  display: flex;
  align-items: center;
  flex: none;
  background-color: #aa6969;
  width: 420px;
  min-height: 100vh;
  padding: 32px 16px 17px
}

@media (min-width: 992px) {
  .box {
    display: flex;
    align-items: center;
    flex: none;
    background-color: #ffffff;
    width: 1010px;
    min-height: 100vh;
    padding: 32px 36px 17px
  }
}

.movies-list .ant-list-items {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  min-width: 420px;
}

@media (min-width: 992px) {
  .movies-list .ant-list-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 1010px;
    gap: 34px 36px;
    margin-top: 21px;
    margin-bottom: 36px;
    min-width: auto;
  }
}

.movies-list .ant-list-pagination {
  margin-block-start: 0;
}

.ant-list-item.movies-list__frame {
  align-items: stretch;
  box-shadow: 0px 4px 12px 0px #00000026;
  padding: 0;
  border-block-end: none;
  width: 388px;
  flex: 0 1 245px;
}

@media (min-width: 992px) {
  .ant-list-item.movies-list__frame {
    align-items: stretch;
    gap: 20px;
    box-shadow: 0px 4px 12px 0px #00000026;
    padding: 0;
    border-block-end: none;
    flex: 0 1 451px;
    max-height: 281px;
  }
}

.layout1 {
  flex: auto;
  flex-direction: row;
}

.img.ant-image-img {
  background-color: grey;
}

@media (min-width: 992px) {
  .img.ant-image-img {
    background-color: grey;
  }
}

.title {
  display: flex;
  flex-wrap: nowrap;
  gap: 77px;
}

@media (min-width: 992px) {
  .title {
    display: flex;
    flex-wrap: nowrap;
    gap: 77px;
  }
}

.ant-typography.frame__title {
  font-family: Inter UI;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 7px;
  width: 132px;
}


.rating {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #E9D100;
  border-radius: 16px;
  text-align: center;
  margin-top: 10px;
}

.rating__text {
  vertical-align: middle;
  line-height: 22px;
  text-align: left;
  font-size: 12px;
}

.frame__overview {
  width: 228px;
  font-family: Inter UI;
  font-weight: 400;
  flex: 1 1 auto;
  background-color: #f5f5f5;
}

@media (min-width: 992px) {
  .frame__overview {
    width: 228px;
    font-family: Inter UI;
    font-weight: 400;
    flex: 1 1 auto;
    background-color: #ffffff;
  }
}

.genres-list .ant-list-items {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 8px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

.ant-list-item.genres-list__item {
  border-block-end: none;
  padding: 0;
  display: block;
  border: 1px solid #D9D9D9 !important;
  background: #FAFAFA;
  height: 20px;
  border-radius: 2px;
  opacity: 65%;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 4px;
  padding-bottom: 3px;
}

.rate {
  margin-bottom: 10px;
}

.rate .ant-rate-star {
  margin-inline-end: 4px !important;
}
