.movies-list .ant-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1010px;
  gap: 34px 36px;
  background-color: #ffffff;
  padding-top: 21px;
  padding-bottom: 216px;
}

.ant-list-item.movies-list__frame {
  align-items: stretch;
  gap: 20px;
  box-shadow: 0px 4px 12px 0px #00000026;
  padding: 0;
  border-block-end: none;
  flex: 0 1 451px;
}

.ant-typography.frame__title {
  font-family: Inter UI;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 7px;
}

.frame__overview {
  width: 228px;
  height: 129px;
  font-family: Inter UI;
  font-weight: 400;
}

.genres-list .ant-list-items {
  display: block;
  width: 100%;
  background-color: #ffffff;
  padding: 0;
}

.ant-list-item.genres-list__item {
  padding: 0;
  padding-bottom: 7px;
}
